attrs>=25.4.0
consolekit>=1.13.0
dom-toml>=2.1.0
domdf-folium-tools>=0.1.0b25
domdf-python-tools>=3.10.0
folium>=0.20.0
folium-about-button>=0.2.0
folium-bottom-sheet @ git+https://github.com/domdfcoding/folium-bottom-sheet
folium-layercontrols @ git+https://github.com/domdfcoding/folium-layercontrols
folium-map-search @ git+https://github.com/domdfcoding/folium-map-search
folium-zoom-state>=0.1.0
gradpyent>=0.9.5
jinja2>=3.1.6
jinja2-workarounds @ git+https://github.com/domdfcoding/jinja2_workarounds
markdown>=3.10.2
networkx>=3.4
pillow>=12.2.0
tqdm>=4.67.3
typing-extensions>=4.15.0
