dom-toml>=2.1.0
domdf-python-tools>=3.10.0
folium>=0.20.0
gradpyent>=0.9.5
jinja2>=3.1.6
jinja2-workarounds @ git+https://github.com/domdfcoding/jinja2_workarounds
networkx>=3.4
typing-extensions>=4.15.0
