<div id="{{ item.id }}_carousel" class="carousel slide">
    <div class="carousel-inner">
        {%- for idx, photo_url in enumerate(item.photo_urls) %}
            <div class="carousel-item{% if idx == 0 %} active{% endif %}">
                {# TODO: force lightbox to match image size or always be 4:3 #}
                <img src="{{ photo_url }}"
                     class="d-block w-100"
                     alt="Image {{ idx + 1 }} of the {{ item.design }} pottery"
                     data-toggle="lightbox"
                     data-remote="{{ photo_url }}"
                     data-size="lg" />
            </div>
        {%- endfor %}
    </div>
    <button class="carousel-control-prev"
            type="button"
            data-bs-target="#{{ item.id }}_carousel"
            data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next"
            type="button"
            data-bs-target="#{{ item.id }}_carousel"
            data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    <div class="carousel-indicators">
        {%- for idx, photo_url in enumerate(item.photo_urls) %}
            <button {% if idx == 0 %}class="active" aria-current="true"{% endif %}
                    data-bs-target="#{{ item.id }}_carousel"
                    role="button"
                    data-bs-slide-to="{{ idx }}"
                    aria-label="Slide {{ idx + 1 }}">
                <img class="d-block w-100" src="{{ photo_url }}" />
            </button>
        {%- endfor %}
    </div>
</div>
