{% extends "page.jinja2" %}
{% set title = "Categories" %}
{% set root = "../" %}
{% set category_page = True %}
{% block body %}
    <h1>{{ title }}</h1>
    <div class="row">
        <div class="col-sm-6">
            <ul>
                {% for category, items in sorted(category_data.items()) %}
                    <li>
                        <a href='{{ make_id(category) }}.html'>{{ category }}</a> ({{ len(items) }})
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock body %}
