{% extends "page.jinja2" %}
{% set category_page = category_page | default(False, boolean=True) %}
{% block body %}

    <div class="wares gy-2" id="wares">
        <div class="d-flex flex-wrap gap-3 items-container">
            {%- for item in items %}
                <div class="item border p-1 d-flex flex-column" id="{{ item.id }}">
                    <h4>{{ item.design }}</h4>
                    <h5>
                        <a href="{{ root }}companies/{{ make_id(item.company.name) }}.html">{{ item.company.name }}, {{ item.company.factory }}</a>
                    </h5>
                    <div class="container properties">
                        <div class="row">
                            <span>{{ item.description }}</span>
                        </div>
                        {% if item.designer %}
                            <div class="row">
                                <span><i class="fa-solid fa-user"></i> {{ item.designer }}</span>
                            </div>
                        {%- endif %}
                        {% if item.era %}
                            <div class="row">
                                <span><i class="fa-solid fa-calendar-days"></i> {{ item.era }}</span>
                            </div>
                        {%- endif %}
                        {% if item.category and not category_page %}
                            <div class="row">
                                <span><i class="fa-solid fa-chart-diagram"></i> <a href="{{ root }}categories/{{ make_id(normalise_category(item.category) ) }}.html">{{ item.category }}</a></span>
                            </div>
                        {% endif %}
                    </div>

                    {# djlint:off #}
                    {% include "notes.jinja2" indent content %}

                    <div class="mt-auto mx-auto pt-1">
                        {% include "carousel.jinja2" indent content %}
                    </div>
                    {# djlint:on #}
                </div>
            {%- endfor %}
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdn.jsdelivr.net/gh/domdfcoding/bs5-lightbox@9e1743b/dist/index.bundle.min.js"
            integrity="sha384-pJaIjougtvDzmqvXGZjUt6RKD2XpQOqiBZyaUEEXy5+RSSEZ8iF2yl/JVtrfMGdx"
            crossorigin="anonymous"></script>
{% endblock scripts %}
