{% extends "collection_page.jinja2" %}
{% set title = company %}
{% set root = "../" %}
{% set companies_page = True %}
{% block body %}

    <h2>{{ factory }}</h2>
    {%- if location %}
        {%- set factory_lat = location["latitude"] %}
        {%- set factory_lng = location["longitude"] %}
        <h6>
            Show On
            <a href='{{ root }}?zoom=16&lat={{ factory_lat }}&lng={{ factory_lng }}'>
                <i class="fas fa-map"></i>
                Map
            </a>
            or
            <a href='https://www.google.com/maps/place/{{ factory_lat }},{{ factory_lng }}'>
                {% include "sidebar_icons/google_maps_icon.svg" indent content %}
                Google Maps
            </a>
        </h6>
    {%- endif %}
    {%- if items %}
        <div class="wares gy-2" id="{{ make_id(company) }}-wares">
            <h3>Wares</h3>
            <div class="d-flex flex-wrap gap-3 items-container">
                {%- for item in items %}
                    <div class="item border p-1 d-flex flex-column" id="{{ item.id }}">
                        <h4>{{ item.design }}</h4>
                        <div class="container properties">
                            <div class="row">
                                <span>{{ item.material }} {{ item.type }}</span>
                            </div>
                            {% if item.designer %}
                                <div class="row">
                                    <span><i class="fa-solid fa-user"></i> {{ item.designer }}</span>
                                </div>
                            {% endif %}
                            {% if item.era %}
                                <div class="row">
                                    <span><i class="fa-solid fa-calendar-days"></i> {{ item.era }}</span>
                                </div>
                            {% endif %}
                            {% if item.category %}
                                <div class="row">
                                    <span><i class="fa-solid fa-chart-diagram"></i> <a href="{{ root }}categories/{{ make_id(normalise_category(item.category) ) }}.html">{{ item.category }}</a></span>
                                </div>
                            {% endif %}
                        </div>

                        {# djlint:off #}
                        {% include "notes.jinja2" indent content %}

                        <div class="mt-auto mx-auto pt-1">
                            {% include "carousel.jinja2" indent content %}
                        </div>
                        {# djlint:on #}
                    </div>
                {%- endfor %}
            </div>
        </div>
    {%- endif %}
{% endblock body %}

{% block breadcrumbs %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ root }}">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{{ root }}companies">Companies</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>
{% endblock breadcrumbs %}
