{% extends "page.jinja2" %}
{% set title = "Dashboard" %}
{% set root = "./" %}
{% block extrahead %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.2/chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.0.0/chartjs-plugin-datalabels.min.js"></script>

{% endblock extrahead %}
{% block body %}

    <div class="gap-2 mb-1 d-flex justify-content-md-start justify-content-center flex-nowrap">
        <a href="{{ root }}items.html"
           role="button"
           class="btn p-2 rounded bg-secondary-subtle">{{ items_count }} Items</a>
        <a href="{{ root }}companies/index.html"
           role="button"
           class="btn p-2 rounded bg-secondary-subtle">{{ companies_count }} Companies</a>
    </div>
    <div class="gy-2">
        <div class="d-flex flex-wrap gap-3 items-container">
            <div class="border p-1 min-vw-30">
                <div class="container">
                    <canvas id="groups-pie-chart"></canvas>
                </div>
            </div>
            <div class="border p-1 min-vw-30">
                <div class="container">
                    <canvas id="materials-pie-chart"></canvas>
                </div>
            </div>
            <div class="border p-1 min-vw-30">
                <div class="container h-100">
                    <canvas id="companies-bar-chart"></canvas>
                </div>
            </div>
            <div class="border p-1 min-vw-30">
                <div class="container">
                    <canvas id="areas-pie-chart"></canvas>
                </div>
            </div>
            <div class="border p-1 min-vw-30">
                <div class="container">
                    <canvas id="categories-pie-chart"></canvas>
                </div>
            </div>
            <div class="border p-1 min-vw-30">
                <div class="container">
                    <canvas id="types-bar-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
{% block scripts %}
    {{ super() }}

    <script>

var groups_pie_chart_data = {{ groups_pie_chart_data }};
var companies_bar_chart_data = {{ companies_bar_chart_data }};
var materials_pie_chart_data = {{ materials_pie_chart_data }};
var types_bar_chart_data = {{ types_bar_chart_data }};
var areas_pie_chart_data = {{ areas_pie_chart_data }};
var categories_pie_chart_data = {{ categories_pie_chart_data }};

    </script>
    <script type="text/javascript" src="{{ root }}static/js/dashboard.js" defer></script>

{% endblock scripts %}
