{% extends "page.jinja2" %}
{% set title = "Map" %}
{% set root = "" %}
{% block extrahead %}
    <link rel="stylesheet" href="./static/css/pottery_map.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
    {{ header|safe }}
{% endblock extrahead %}
{% block main %}
    <main class="min-vh-100 min-vw-75">
        {% block body %}
            {{ body|safe }}
        {% endblock body %}
    </main>
{% endblock main %}

{% block scripts %}
    {{ super() }}

    {{ scripts|safe }}
    <script>{{ script|safe }}

    map_pottery.attributionControl.setPrefix(`<a target="_blank" href="https://leafletjs.com" title="A JavaScript library for interactive maps">🇺🇦 Leaflet</a> | <a href="https://thenounproject.com/icon/pottery-7911200/" target="_blank">Pottery icon by Singlar</a>`)
    </script>
{% endblock scripts %}
{% block footer %}
{% endblock footer %}
