{% macro make_link(company, inner, item=none, standalone=True) %}
    {%- if standalone %}{{ inner }}
        {%- elif not item %}<a href="companies/{{ make_id(company) }}.html">{{ inner }}</a>
        {%- else %}<a href="companies/{{ make_id(company) }}.html#{{ item }}">{{ inner }}</a>
    {%- endif -%}
{% endmacro -%}
<div class="item-details">
    <h2>{{ make_link(company_data.company.name, inner=company_data.company.name, standalone=standalone) }}</h2>
    <h3>
        <strong>{{ company_data.company.factory }}</strong>
    </h3>
    {% for item in company_data.items %}
        <ul>
            <li>{{ make_link(company_data.company.name, item=item.id, inner=item.design, standalone=standalone) }}</li>
            <li>{{ item.description }}</li>
            {% if item.designer %}
                <li>
                    <i class="fa-solid fa-user"></i> {{ item.designer }}
                </li>
            {% endif %}
            {% if item.era %}
                <li>
                    <i class="fa-solid fa-calendar-days"></i> {{ item.era }}
                </li>
            {% endif %}
        </ul>
        {% if item.id %}<img class="pottery-image" src="{{ item.get_photo_urls()[0] }}" loading="lazy" />{% endif %}
    {% endfor %}
</div>
