<div class="accordion row notes" id="{{ base_id }}-notes">
    <div class="accordion-item">
        <h2 class="accordion-header" id="{{ base_id }}-note">
            <button class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ base_id }}-collapse"
                    aria-expanded="false"
                    aria-controls="{{ base_id }}-collapse">Notes</button>
        </h2>
        <div id="{{ base_id }}-collapse"
             class="accordion-collapse collapse"
             aria-labelledby="{{ base_id }}-note"
             data-bs-parent="#{{ base_id }}-notes">

            <div class="accordion-body">
                {%- if show_item_notes %}
                    {%- for note in item.notes %}
                        <code>{{ note }}</code>
                        <br>
                    {%- endfor %}
                {%- endif %}

                {%- if show_company_notes %}
                    {%- for note in company.notes %}
                        <code>{{ note }}</code>
                        <br>
                    {%- endfor %}
                {%- endif %}

                {%- if show_item_notes %}
                    {%- for link_text, link_target in item.links.items() %}
                        <a href="{{ link_target }}" target="_blank">{{ link_text }}</a>
                        <br>
                    {%- endfor %}
                {%- endif %}

                {%- if show_company_notes %}
                    {%- for link_text, link_target in company.links.items() %}
                        <a href="{{ link_target }}" target="_blank">{{ link_text }}</a>
                        <br>
                    {%- endfor %}
                {%- endif %}
            </div>
        </div>
    </div>
</div>
