<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon"
              type="image/svg+xml"
              href="data:image/svg+xml;base64,{% filter base64_encode %}{% include "sidebar_icons/map.svg" %}{% endfilter %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css"
              integrity="sha384-EXatlQyrOJgDaM9/a74ArMzy7/2bTMSrZj8ID1IPeVmc3GncfCugefCFWSLj8JL/"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ root }}static/css/style.css">
        <link rel="stylesheet" href="{{ root }}static/css/sidebar.css">
        <title>{{ title }} – Pottery Collection</title>
        {% block extrahead %}
        {% endblock extrahead %}
    </head>
    <body>
        <nav id="sidebar" class="close">
            <ul class="text-decoration-none ps-0">
                {# djlint:off #}
                {%- macro page_link(expected_title, href) %}
                    {%- if title == expected_title %}#{% else %}{{ href }}{% endif -%}
                {% endmacro -%}
                {# djlint:on #}
                <li>
                    <span class="logo">Pottery Collection</span>
                    <button onclick=toggleSidebar() id="toggle-btn">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             height="24px"
                             viewBox="0 -960 960 960"
                             width="24px"
                             fill="#e8eaed">
                            <path d="m313-480 155 156q11 11 11.5 27.5T468-268q-11 11-28 11t-28-11L228-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T468-692q11 11 11 28t-11 28L313-480Zm264 0 155 156q11 11 11.5 27.5T732-268q-11 11-28 11t-28-11L492-452q-6-6-8.5-13t-2.5-15q0-8 2.5-15t8.5-13l184-184q11-11 27.5-11.5T732-692q11 11 11 28t-11 28L577-480Z" />
                        </svg>
                    </button>
                </li>
                <li class="{% if title == 'Map' %}active{% endif %}">
                    <a title="Map" href="{{ page_link('Map', root) }}">
                        <!-- <i class="fas fa-map me-3"></i> -->
                        {% include "sidebar_icons/map.svg" indent content %}
                        <span>Map</span>
                    </a>
                </li>
                {%- set link_title = "Items" %}
                {%- set link_target = root + "items.html" %}
                {%- set icon_name = "noun-pottery-7911200" %}
                {% include "sidebar_button.jinja2" indent content %}
                {#-  #}
                {%- set link_title = "Dashboard" %}
                {%- set link_target = root + "dashboard.html" %}
                {%- set icon_name = "dashboard" %}
                {% include "sidebar_button.jinja2" indent content %}
                {#-  #}
                <li class="{% if companies_page | default(False, boolean=True) %}active{% endif %}">
                    <a role="button"
                       title="Companies"
                       onclick="toggleSubMenu(this); event.preventDefault()"
                       class="dropdown-btn"
                       href="{{ page_link('Companies', root + 'companies') }}">
                        <!-- <i class="fas fa-industry me-3"></i> -->
                        {% include "sidebar_icons/industry.svg" indent content %}
                        <span>Companies</span>
                        {% include "sidebar_icons/collapse_arrow.svg" indent content %}
                    </a>
                    <ul class="text-decoration-none sub-menu ps-0">
                        <div>
                            {% if title == "Companies" %}
                                <li class="border-bottom active">
                                    <a href="#">View All</a>
                                </li>
                            {% else %}
                                <li class="border-bottom">
                                    <a href="{{ root }}companies">View All</a>
                                </li>
                            {% endif %}
                            {% for company_name in sidebar_data.all_companies %}
                                {% if title == company_name %}
                                    <li class="active">
                                        <a href="#">{{ company_name }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ root }}companies/{{ make_id(company_name) }}.html">{{ company_name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                </li>
                <li class="{% if category_page | default(False, boolean=True) %}active{% endif %}">
                    <a role="button"
                       title="Categories"
                       onclick="toggleSubMenu(this); event.preventDefault()"
                       class="dropdown-btn"
                       href="{{ page_link('Categories', root + 'categories') }}">
                        <!-- <i class="fas fa-industry me-3"></i> -->
                        {% include "sidebar_icons/chart-diagram.svg" indent content %}
                        <span>Categories</span>
                        {% include "sidebar_icons/collapse_arrow.svg" indent content %}
                    </a>
                    <ul class="text-decoration-none sub-menu ps-0">
                        <div>
                            {% if title == "Categories" %}
                                <li class="border-bottom active">
                                    <a href="#">View All</a>
                                </li>
                            {% else %}
                                <li class="border-bottom">
                                    <a href="{{ root }}categories">View All</a>
                                </li>
                            {% endif %}
                            {% for category_name in sidebar_data.all_categories %}
                                {% if title == category_name %}
                                    <li class="active">
                                        <a href="#">{{ category_name }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ root }}categories/{{ make_id(category_name) }}.html">{{ category_name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </ul>
                </li>
                {%- if has_wishlist %}
                    {%- set link_title = "Wishlist" %}
                    {%- set link_target = root + "wishlist.html" %}
                    {%- set icon_name = "star" %}
                    {% include "sidebar_button.jinja2" indent content %}
                {%- endif %}
                {#-  #}
                {%- if has_notes %}
                    {%- set link_title = "Notes" %}
                    {%- set link_target = root + "notes.html" %}
                    {%- set icon_name = "note-sticky" %}
                    {% include "sidebar_button.jinja2" indent content %}
                {%- endif %}
            </ul>
        </nav>
        <div class="d-flex flex-column min-vh-100">
            {% block main %}
                <main class="padded">
                    <h1>{{ title }}</h1>
                    {% block breadcrumbs %}
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ root }}">Home</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">{{ title }}</li>
                            </ol>
                        </nav>
                    {% endblock breadcrumbs %}
                    {% block body %}
                    {% endblock body %}
                </main>
            {% endblock main %}

            {% block footer %}
                <!-- Footer -->
                <footer class="page-footer font-small blue pt-4 mt-auto">
                    <!-- Footer Links -->
                    <div class="container text-center">
                        Powered by <a href="{{ github_url }}">pottery-map</a>.
                        © 2026 Dominic Davis-Foster.
                        <br>
                        Maps from <a href="https://www.openstreetmap.org/">OpenStreetMap</a>, under <a href="https://opendatacommons.org/licenses/odbl/">ODbL</a>. © OpenStreetMap contributors.
                        Uses <a href="https://github.com/gravitystorm/openstreetmap-carto">OpenStreetMap Carto</a> style.
                        Pottery icon by Singlar from <a href="https://thenounproject.com/icon/pottery-7911200/" target="_blank">Noun Project</a> (CC BY 3.0).
                    </div>
                </footer>
            {% endblock footer %}
        </div>
        {% block scripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
                    crossorigin="anonymous"></script>

            <script type="text/javascript" src="{{ root }}static/js/sidebar.js" defer></script>
        {% endblock scripts %}
    </body>
</html>
