.dropdown-btn {
	width: 100%;
	text-align: left;
	background: none;
	border: none;
	font: inherit;
	cursor: pointer;
}

.dropdown-btn svg {
	transition: 200ms ease;
}

.rotate svg:last-child {
	rotate: 180deg;
}

#toggle-btn {
	margin-left: auto;

	/* padding: 1em !important; */
	padding: 13px !important;
	border: none;
	border-radius: 0.5em;
	background: none;
	cursor: pointer;

	svg {
		transition: rotate 150ms ease;
	}
}

#toggle-btn:hover {
	background-color: var(--hover-colour);
}

#sidebar {
	box-sizing: border-box;
	height: 100vh;
	width: 250px;
	padding: 5px 1em;
	background-color: var(--base-colour);
	border-right: 1px solid var(--line-colour);
	position: sticky;
	top: 0;
	align-self: start;
	transition: 300ms ease-in-out;
	overflow: hidden;
	overflow-y: scroll;

	/* text-wrap: nowrap; */
}

#sidebar.close {
	padding: 5px;
	width: 60px;
}

#sidebar ul {
	list-style: none;
}


#sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
	border-radius: 0.5em;
	padding: 0.85em;
	text-decoration: none;
	color: var(--text-colour);
	display: flex;
	align-items: center;
	gap: 1em;
}

#sidebar > ul > li:first-child {
	display: flex;
	justify-content: flex-end;
	text-wrap: nowrap;

	/* margin-bottom: 16px; */
	.logo {
		font-weight: 600;
	}
}


#sidebar svg {
	flex-shrink: 0;
	fill: var(--text-colour);
}

#sidebar .sub-menu a {
	padding-left: 2em;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
	background-color: var(--hover-colour);
}


#sidebar a span, #sidebar .dropdown-btn span {
	flex-grow: 1;
}


#sidebar ul li.active {
	> :first-child {

		span { color: var(--accent-colour); }
		>svg { fill: var(--accent-colour); }
	}

	> a:first-child {
		color: var(--accent-colour);
		>svg { fill: var(--accent-colour); }
	}
}


#sidebar .sub-menu {
	display: grid;
	grid-template-rows: 0fr;
	transition: 300ms ease-in-out;

	> div {
		overflow: hidden;
	}
}

#sidebar .sub-menu.show {
	grid-template-rows: 1fr;
}

/*
@media (width <= 800px) {
	#sidebar {
		height: 60px;
		width: 100%;
		border-right: none;
		border-top: 1px solid var(--line-colour);
		padding: 0;
		position: fixed;
		top: unset;
		bottom: 0;

		> ul {
			padding: 0;
			display: grid;
			grid-auto-columns: 60px;
			grid-auto-flow: column;
			align-items: center;
			overflow-x: scroll;
		}

		ul li {
			height: 100%;
		}

		ul a, ul .dropdown-btn {
			width: 60px;
			height: 60px;
			padding: 0;
			border-radius: 0;
			justify-content: center;
		}

		ul li span, ul li:first-child, .dropdown-btn svg:last-child {
			display: none;
		}

		ul li .sub-menu.show {
			position: fixed;
			bottom: 60px;
			left: 0;
			box-sizing: border-box;
			height: 60px;
			width: 100%;
			background-color: var(--hover-colour);
			border-top: 1px solid var(--line-colour);
			display: flex;
			justify-content: center;

			> div {
				overflow-x: auto;
			}

			li {
				display: inline-flex;
			}

			a {
				box-sizing: border-box;
				padding: 1em;
				width: auto;
				justify-content: center;
			}
		}
	}
} */
